[submodule "external/sphereface_pytorch"]
	path = external/sphereface_pytorch
	url = https://github.com/clcarwin/sphereface_pytorch.git
[submodule "external/LightCNN"]
	path = external/LightCNN
	url = https://github.com/AlfredXiangWu/LightCNN.git
	ignore = dirty
