# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore build/dist
build/
dist/
*.egg-info/
# Ignore pretrained models
src/Benchmarking_App/src/models/pretrained_models/models/
src/models/pretrained_models/

# Ignore embeddings
src/models/embeddings/

# Ignore datasets
src/dataset/
