{
  "arcface": {
    "wrapper": "wrap_arcface.ArcFaceWrapper",
    "path": "C:/programming/Bachelor-Thesis-AI/src/Benchmarking_App/src/models/face_rec_models",
    "input_size": [112, 112]
  },
  "facenet": {
    "wrapper": "wrap_facenet.FaceNetWrapper",
    "path": null,
    "input_size": [160, 160]
  },
  "sphereface": {
    "wrapper": "wrap_sphereface.SphereFaceWrapper",
    "path": "C:/programming/FaceRec_Models/sphereface.pth",
    "input_size": [112, 112]
  }
}
