{
  "arcface": {
    "wrapper": "wrap_arcface.ArcFaceWrapper",
    "path": "models/pretrained_models/arcface_repo/models",
    "input_size": [112, 112]
  },
  "facenet": {
    "wrapper": "wrap_facenet.FaceNetWrapper",
    "path": "models/pretrained_models/facenet",
    "input_size": [160, 160]
  },
  "magface": {
    "wrapper": "wrap_magface.MagFaceWrapper",
    "path": "models/pretrained_models/magface",
    "input_size": [112, 112]
  },
  "sphereface": {
    "wrapper": "wrap_sphereface.SphereFaceWrapper",
    "path": "external/sphereface_pytorch/model",
    "input_size": [96, 112]
  },
    "lightcnn": {
    "wrapper": "wrap_lightcnn.LightCNNWrapper",
    "path": "external/LightCNN/models",
    "input_size": [128, 128]
  },
  "deepface": {
    "wrapper": "wrap_deepface.DeepFaceWrapper",
    "path": "models/pretrained_models/deepface",
    "input_size": [112, 112]
  }
}
