{
  "arcface": {
    "wrapper": "wrap_arcface.ArcFaceWrapper",
    "path": "models/pretrained_models/arcface_repo/models",
    "input_size": [112, 112]
  },
  "facenet": {
    "wrapper": "wrap_facenet.FaceNetWrapper",
    "path": "models/pretrained_models/facenet",
    "input_size": [160, 160]
  },
 
  "adaface": {
    "wrapper": "wrap_adaface.AdaFaceWrapper",
    "path": "external/adaface_repo/adaface_ir50_ms1mv2/model.pt",
    "input_size": [112, 112]
  }
}
