{
  "arcface": {
    "wrapper": "wrap_arcface.ArcFaceWrapper",
    "path": "models/pretrained_models/arcface_repo/models",
    "input_size": [112, 112]
  },

  "facenet": {
    "wrapper": "wrap_facenet_onnx.FaceNetONNX",
    "path": "external/FaceNet_onnx/facenet_irv1_128.onnx",
    "input_size": [160, 160]
  },

  "adaface": {
    "wrapper": "wrap_adaface_onnx.AdaFaceONNX",
    "path": "external/adaface_onnx/adaface.onnx",
    "input_size": [112, 112]
  },
  
  "facenet_original": {
    "wrapper": "wrap_facenet_original.FaceNetOriginalWrapper",
    "path": "", 
    "input_size": [160, 160]
  },
  "facenet_camera": {
    "wrapper": "wrap_facenet_camera.FaceNetCameraWrapper",
    "path": "",
    "input_size": [160, 160]
  },
  "adaface_camera": {
    "wrapper": "wrap_adaface_camera.AdaFaceCameraWrapper",
    "path": "",
    "input_size": [112, 112]
  }

}
